.mainContainer {
  height: 100%;
  width: 100%;
  padding: 15px;
  box-sizing: border-box; /* padding 값을 요소의 크기에 포함 */
}

.searchContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: rgb(0 0 0 / 75%);
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.menubarContainer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
}

.windowBtnContainer {
  display: flex;
}

.windowBtn {
  width: 16px;
  height: 16px;
  margin-left: 6px;
  border-radius: 50%;
}

.maximize {
  background-color: #28ca42;
}

.minimize {
  background-color: #ffbd2e;
}

.close {
  background-color: #ff5f57;
}

.searchBarContainer {
  display: flex;
  flex-direction: column;
  height: 25%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.searchBar {
  height: 45px;
  font-size: 28px;
  padding-inline: 15px;
  width: 45%;
  border-radius: 10px;
  border: none;
  outline: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.5s ease-in-out;
}

.searchBar:hover {
  box-shadow: 0 9px 14px rgba(0, 0, 0, 0.8);
}

.magnifierIcon {
  position: absolute;
  left: calc((100% - 45%) / 2);
  width: 24px;
  height: 24px;
  transition: opacity 0.3s ease-in-out;
}