html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

#root {
  height: 100%;
  width: 100%;
  background-color: #ffdcdc;
  display: flex;
  align-items: center;
  justify-content: center;
}